<h2>Exemplos do Projeto</h2>

<table class="table table-striped">
    <thead>
        <tr>
        <th>Título</th>
        <th>Corpo</th>
        <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exemplo of exemplos">
        <td>{{ exemplo.EXE_TITULO }}</td>
        <td>{{ exemplo.EXE_CORPO }}</td>
        <td>
            <button *ngIf="master" class="btn btn-danger"
            (click)="confirmRemoveExemplo(exemplo)">Remover</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        </tr>
    </tbody>
</table>

<div *ngIf="master" class="form-group">
    <div class="form-group">
    <h4>Adicionar novo exemplo</h4>
      <label for="title">Título</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="newExemplo.EXE_TITULO" required>

      <label for="transcription">Corpo</label>
      <input type="text" id="transcription" class="form-control" [(ngModel)]="newExemplo.EXE_CORPO" required>
    <button class="btn btn-primary mt-3" (click)="addExemplo()">Adicionar exemplo</button>
    </div>
</div>
