<app-navbar-interativo></app-navbar-interativo>
<div class="container mt-4">
  <h1 class="display-4">{{ projeto?.PRJ_NOME }}</h1>
  <h4 class="text-muted">Por: {{ projeto?.USR_NOME }}</h4>

  <div class="form-group">
    <label for="description">Descrição</label>
    <textarea id="description" class="form-control" rows="4" [value]="projeto?.PRJ_DESCRICAO" readonly></textarea>
  </div>
  <div class="form-group">
    <label for="description">Fonotática</label>
    <textarea id="description" class="form-control" rows="4" [value]="projeto?.PRJ_FONOTATICA" readonly></textarea>
  </div>
</div>

<div class="container mt-4">
  <nav>
    <div class="nav nav-tabs ms-auto" id="nav-tab" role="tablist">
      <button class="nav-link active position-relative" id="nav-home-tab" data-bs-toggle="tab"
        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
        Vocabulário
      </button>
      <button class="nav-link position-relative" id="nav-profile-tab" data-bs-toggle="tab"
        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
        aria-selected="false">Regras
      </button>
      <button class="nav-link position-relative" id="nav-profile-tab" data-bs-toggle="tab"
        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
        aria-selected="false">Exemplos
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <app-gerenciar-vocabulos [id]="id"></app-gerenciar-vocabulos>
    </div>
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <app-gerenciar-regras [id]="id"></app-gerenciar-regras>
    </div>
  </div>
  
  <app-comentarios-projeto [idProjeto]="id"></app-comentarios-projeto>
</div>