<app-navbar-interativo></app-navbar-interativo>
<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <nav>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <p class="fs-4 text-secondary m-0 d-none d-sm-block"><i
              class="bi bi-search text-body-secondary me-2"></i>Resultado(s): {{ termoPesquisa }}
          </p>
          <div class="nav nav-tabs ms-auto" id="nav-tab" role="tablist">
            <button class="nav-link active position-relative" id="nav-home-tab" data-bs-toggle="tab"
              data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i
                class="bi bi-archive me-1"></i>Projeto(s)
              <span class="position-absolute top-0 start-40 translate-middle badge rounded-pill bg-danger">
                {{ contagemProjetos }}
                <span class="visually-hidden">Total de projetos</span>
              </span>
            </button>
            <button class="nav-link position-relative" id="nav-profile-tab" data-bs-toggle="tab"
              data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
              aria-selected="false"><i class="bi bi-people me-1"></i>Pessoa(s)
              <span class="position-absolute top-0 start-40 translate-middle badge rounded-pill bg-danger">
                {{ contagemUsuarios }}
                <span class="visually-hidden">Total de usuários</span>
              </span>
            </button>
          </div>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
          tabindex="0">
          <div *ngIf="projetos.length === 0" class="alert alert-warning">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>Ops! Não encontramos nenhum projeto com o <i>termo
              pesquisado</i>.
          </div>
          <div *ngFor="let projeto of projetos" class="card mb-2">
            <div class="card-body">
              <h6 class="card-title">{{ projeto.nomeProjeto }}</h6>
              <p class="card-text text-muted mb-1">
                {{ projeto.descricaoProjeto | slice:0:100 }}{{ projeto.descricaoProjeto.length > 100 ? '...' : '' }}
              </p>
              <p class="card-text text-muted">
                <i class="bi bi-chat-dots me-1"></i>{{ projeto.totalComentarios }}
              </p>
              <a [routerLink]="['/conlang_detail', projeto.idProjeto]" class="btn btn-dark btn-sm">Conhecer<i
                  class="bi bi-arrow-up-right-circle ms-1"></i></a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div *ngIf="usuarios.length === 0" class="alert alert-warning">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>Ops! Não encontramos nenhum usuário com o <i>termo
              pesquisado</i>.
          </div>
          <div *ngFor="let usuario of usuarios" class="card mb-2">
            <div class="row g-0">
              <div class="col-auto d-flex justify-content-start">
                <img [src]="usuario?.avatarUsuario || 'images/user-avatar-default.svg'" alt="Avatar"
                  class="img-fluid m-2 rounded-circle border border-white border-2" style="width: 80px;" />
              </div>
              <div class="col d-flex justify-content-start align-items-center">
                <div class="card-body text-start">
                  <h6 class="card-title">
                    {{ usuario.nomeUsuario }}
                    <span class="badge rounded-pill text-bg-secondary">
                      <i class="bi bi-archive me-1"></i>{{ usuario.totalProjetos || 0 }}
                    </span>
                  </h6>
                  <a [routerLink]="['/perfil-usuario', usuario.idUsuario]" class="btn btn-dark btn-sm">Detalhar<i
                      class="bi bi-arrow-up-right-circle ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>