<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
</head>
<body style="background-image: url('/images/logo-background3-parolanto.svg');">
  <app-navbar-interativo></app-navbar-interativo>
  <section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-start">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div *ngIf="successMessages.length > 0" class="alert alert-success">
            <i class="bi bi-check-circle-fill me-2"></i>Observe o(s) <i>item(s)</i> abaixo:
            <ul>
              <li *ngFor="let message of successMessages">{{ message }}</li>
            </ul>
          </div>
          <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>Ops! Observe as <i>incosistências</i> abaixo:
            <ul>
              <li *ngFor="let message of errorMessages">{{ message }}</li>
            </ul>
          </div>
          <div class="card mb-3 overflow-hidden">
            <div class="row g-0">
              <div
                class="col-md-4 text-center text-white bg-primary bg-gradient d-flex flex-column justify-content-center align-items-center">
                <img [src]="usuario?.avatar || 'images/user-avatar-default.svg'" alt="Avatar"
                  class="img-fluid my-3 rounded-circle border border-white border-2" style="width: 80px;" />
                <h5>{{ usuario?.nome }}</h5>
                <div class="btn-group mt-2">
                  <button class="btn btn-dark btn-sm mb-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#avatarOptions" aria-expanded="false" aria-controls="avatarOptions"
                    (click)="inverteDirecao()">
                    Avatar<i [ngClass]="iconeMenu ? 'bi bi-arrow-up-circle' : 'bi bi-arrow-down-circle'"
                      class="ms-1"></i>
                  </button>
                </div>
                <div class="collapse" id="avatarOptions">
                  <ul class="list-group list-group-flush">
                    <li *ngFor="let avatar of avatares" class="list-group-item bg-transparent border-0">
                      <a class="text-center bg-transparent" (click)="atualizarAvatar(avatar)">
                        <img class="rounded-circle border border-white border-2 cursor-pointer"
                          [src]="avatar || 'images/user-avatar-default.svg'" alt="Avatar" style="width: 60px;">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 d-flex flex-column">
                <div class="card-body p-4 flex-grow-1">
                  <h6>Informações</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Endereço de <i>e-mail</i></h6>
                      <p class="text-muted">{{ usuario?.email }}</p>
                    </div>
                  </div>
                  <h6>Projetos</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div *ngIf="projetos.length > 0; else semProjetos">
                      <div class="mb-3">
                        <h6 class="mb-0">Recentes</h6>
                        <span class="badge text-bg-secondary">Listados em ordem descrescente.</span>
                      </div>
                      <div class="col-12" *ngFor="let projeto of projetos">
                        <div class="card mb-2">
                          <div class="card-body">
                            <h6 class="card-title">{{ projeto.nome }}</h6>
                            <p class="card-text text-muted">
                              {{ projeto.descricao | slice:0:100 }}{{ projeto.descricao.length > 100 ? '...' : '' }}
                            </p>
                            <a [routerLink]="['/conlang_detail', projeto.id]" class="btn btn-dark btn-sm">Detalhar<i class="bi bi-arrow-up-right-circle ms-1"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #semProjetos>
                      <p class="text-muted">Você ainda não <i>criou</i> nenhum projeto.</p>
                    </ng-template>
                  </div>
                </div>
                <div class="card-footer text-center cursor-pointer custom-hover" (click)="openModal()">
                  Alterar senha
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-modal-alteracao-senha></app-modal-alteracao-senha>
</body>
</html>