<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
</head>
<body style="background-image: url('/images/logo-background3-parolanto.svg');">
  <app-navbar-interativo></app-navbar-interativo>
  <section *ngIf="usuarioEncontrado">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-start">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3 overflow-hidden">
            <div class="row g-0">
              <div *ngIf="usuario"
                class="col-md-4 text-center text-white bg-primary bg-gradient d-flex flex-column justify-content-center align-items-center">
                <img [src]="usuario?.avatar || 'images/user-avatar-default.svg'" alt="Avatar"
                  class="img-fluid my-3 rounded-circle border border-white border-2" style="width: 80px;" />
                <h5>{{ usuario?.nome }}</h5>
              </div>
              <div class="col-md-8 d-flex flex-column">
                <div class="card-body p-4 flex-grow-1">
                  <h6>Projetos</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div *ngIf="projetos.length > 0; else semProjetos">
                      <div class="mb-3">
                        <h6 class="mb-0">Recentes</h6>
                        <span class="badge text-bg-secondary">Listados em ordem descrescente.</span>
                      </div>
                      <div class="col-12" *ngFor="let projeto of projetos">
                        <div class="card mb-2">
                          <div class="card-body">
                            <h6 class="card-title">{{ projeto.nome }}</h6>
                            <p class="card-text text-muted">
                              {{ projeto.descricao | slice:0:100 }}{{ projeto.descricao.length > 100 ? '...' : '' }}
                            </p>
                            <a [routerLink]="['/conlang_detail', projeto.id]" class="btn btn-dark btn-sm">Conhecer<i
                                class="bi bi-arrow-up-right-circle ms-1"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #semProjetos>
                      <p class="text-muted"><i class="bi bi-info-circle-fill me-1"></i>Este usuário não <i>criou</i>
                        nenhum projeto.</p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="!usuarioEncontrado">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-start">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <p class="m-0"><i class="bi bi-info-circle-fill me-1"></i>{{errorMessages}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>