<div class="modal fade" id="alterarSenhaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="bi bi-shield-lock-fill text-warning fs-3 me-2"></i>
        <h5 class="modal-title">Redefinição</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-secondary">Senha atual</label>
            <input type="password" class="form-control" id="recipient-name" aria-describedby="passwordHelpBlock" placeholder="Preenchimento obrigatório">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-secondary">Senha desejada</label>
            <input type="password" class="form-control" id="recipient-name" aria-describedby="passwordHelpBlock" placeholder="Preenchimento obrigatório">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-secondary">Confirme</label>
            <input type="password" class="form-control" id="recipient-name" aria-describedby="passwordHelpBlock" placeholder="Preenchimento obrigatório">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success w-100">Confirmar</button>
      </div>
    </div>
  </div>
</div>