<div class="modal fade" id="alterarSenhaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="formGroupUpdatePasswordUser">
          <div class="mb-3">
            <label for="senhaAtualUsuario" class="col-form-label text-secondary">Senha atual</label>
            <input type="password" class="form-control" formControlName="senhaAtualUsuario"
              aria-describedby="passwordHelpBlock" placeholder="Preenchimento obrigatório">
          </div>
          <div class="mb-3">
            <label for="senhaDesejadaUsuario" class="col-form-label text-secondary">Senha desejada</label>
            <input type="password" class="form-control" formControlName="senhaDesejadaUsuario"
              aria-describedby="passwordHelpBlock" placeholder="Preenchimento obrigatório">
          </div>
          <div class="mb-3">
            <label for="senhaDesejadaConfirmacaoUsuario" class="col-form-label text-secondary">Confirme a senha
              desejada</label>
            <input type="password" class="form-control" formControlName="senhaDesejadaConfirmacaoUsuario"
              aria-describedby="passwordHelpBlock" placeholder="Preenchimento obrigatório">
          </div>
        </form>
        <div *ngIf="successMessages.length > 0" class="alert alert-success">
          <i class="bi bi-check-circle-fill me-2"></i>Observe o(s) <i>item(s)</i> abaixo:
          <ul>
            <li *ngFor="let message of successMessages">{{ message }}</li>
          </ul>
        </div>
        <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Ops! Observe as <i>incosistências</i> abaixo:
          <ul>
            <li *ngFor="let message of errorMessages">{{ message }}</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success w-100" (click)="alterarSenhaUsuario()">Confirmar<i
            class="bi bi-check-circle ms-2"></i></button>
        <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal" aria-label="Close">Cancelar<i
            class="bi bi-x-circle ms-2"></i></button>
      </div>
    </div>
  </div>
</div>