<div class="modal fade" id="alterarSenhaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal em desenvolvimento...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget urna non mi tincidunt scelerisque aliquet vitae massa. Curabitur hendrerit tellus at ultrices ornare. In nec tristique ligula, at mollis massa. Mauris semper fermentum nisi eget facilisis. Pellentesque massa felis, auctor sit amet lectus id, facilisis porta tellus. Morbi luctus, sapien ac scelerisque tincidunt, est lorem gravida libero, at malesuada purus erat sit amet dui. Nulla sagittis non sapien et vehicula.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>