<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parolanto</title>
</head>
<body style="background-image: url('/images/logo-background3-parolanto.svg');">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom text-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/pagina-inicial-parolanto']">
        <img class="me-2" src="images/logo-parolanto.svg" alt="Logo Parolanto">
        <span class="fs-3">Parolanto</span>
      </a>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-12 col-md-8">
        <div class="text-center p-3">
          <img class="mb-1" src="images/logo-parolanto-grande.svg" alt="Logo Parolanto">
          <h1>
            <i>Explore um universo de línguas criadas por mentes como a sua.</i>
          </h1>
          <p class="fs-4 text-secondary">A Parolanto é uma comunidade vibrante dedicada à criação e exploração de
            línguas construídas. Sinta-se <i>livre</i> para aprender, imaginar, desenvolver e compartilhar com outros
            criadores neste espaço!</p>
        </div>
        <div class="row mb-3">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" [routerLink]="['/registrar-usuario']">Registrar-se</button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-dark" type="button" [routerLink]="['/logar-usuario']">Autenticar-se</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>