.notificacoes-text {
  display: none;
}

.icone-menu {
  font-size: 1.75rem;
}

@media (max-width: 991px) {
  .navbar-brand {
    justify-content: center;
    flex-grow: 1;
  }

  .icone-menu {
    order: -1;
    font-size: 2.31rem;
  }

  .notificacoes-text {
    display: inline;
    font-size: 1rem;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    gap: 0.9375rem;
  }

  .nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
}