<div class="my-4">
  <div class="d-flex align-items-center">
    <hr class="flex-grow-1">
    <h4 class="mx-2"><i class="bi bi-chat-dots-fill text-primary me-1"></i>Comentários</h4>
    <hr class="flex-grow-1">
  </div>
  <div class="d-flex justify-content-center mb-4">
    <span class="badge rounded-pill text-bg-secondary">Os comentários mais recentes estão no <i>topo</i>.</span>
  </div>
  <div *ngIf="comentarios.length === 0" class="alert alert-warning">
    Ainda não há comentários. Seja o primeiro a comentar!<i class="bi bi-emoji-sunglasses ms-1"></i>
  </div>
  <div *ngFor="let comentario of comentarios" class="card mb-3">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <img [src]="comentario.avatarUsuario || 'images/user-avatar-default.svg'" class="rounded-circle"
          style="width: 50px; height: 50px;">
        <p class="ms-2 m-0">{{ comentario.nomeUsuario }}</p>
      </div>
      <p class="card-text m-0 my-2">{{ comentario.conteudo }}</p>
      <div class="d-flex justify-content-end">
        <button *ngIf="comentario.idUsuario === idUsuarioAutenticado" class="btn btn-outline-danger btn-sm"
          (click)="excluirComentario(comentario.idComentario)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="comentarioForm" (ngSubmit)="adicionarComentario()">
        <div class="mb-3">
          <textarea class="form-control" formControlName="conteudo" rows="3"
            placeholder="Adicione seu comentário..."></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-dark btn-sm" [disabled]="comentarioForm.invalid">
            <i class="bi bi-send me-2"></i>Comentar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>