<div class="modal fade" id="genericModal" tabindex="-1" aria-labelledby="genericModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i *ngIf="modalType === 'success'" class="bi bi-check-circle-fill text-success fs-3 me-2"></i>
                <i *ngIf="modalType === 'error'" class="bi bi-exclamation-triangle-fill text-danger fs-3 me-2"></i>
                <h5 class="modal-title" id="genericModalLabel">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li *ngFor="let message of messages">{{ message }}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>